@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(
    ellipse at center,
    rgb(32, 109, 10) 40%,
    rgba(0, 0, 0, 0.8)
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "header"
    "header"
    "body"
    "body"
    "body"
    "footer";
  height: 100vh;
  width: 100%;
}

.header__table {
  grid-area: header;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100%;
}

.body__table {
  display: grid;
  grid-area: body;
  gap: 10px;
  justify-items: center;
  align-items: center;
  grid-template-columns: 300px repeat(2, 1fr) 300px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". player computer ."
    ". player computer ."
    ". player computer .";
  width: 100%;
  height: 100%;
}

.fotter__table {
  grid-area: footer;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr;
  padding: 10px;
}

.table__half-circle {
  position: relative;
  grid-column: 2 / 5;
  grid-row: 1/ 3;
  background-color: rgb(1, 80, 0);
  margin: 0 auto;
  width: 60%;
  height: 200%;
  border-radius: 50%;
  transform: translateY(-50%);
  border: 7px solid rgb(46, 138, 11);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.419), 0px 0px 8px rgba(0, 0, 0, 0.661),
    inset 0 0 10px #0000006a;
}

.table__box {
  position: absolute;
  overflow: hidden;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.24);
  width: 46%;
  height: 130px;
  background-color: rgb(147, 72, 23);
}

.table__box--lines {
  position: absolute;
  top: 0;
  left: 20px;
  width: 30px;
  height: 90%;
  background-color: rgb(92, 38, 7);
  box-shadow: -7px 0px 0px rgba(0, 0, 0, 0.13), 42px 0px 0px rgb(92, 38, 7),
    37px 0px 0px rgba(0, 0, 0, 0.13), 82px 0px 0px rgb(92, 38, 7),
    77px 0px 0px rgba(0, 0, 0, 0.13), 122px 0px 0px rgb(92, 38, 7),
    117px 0px 0px rgba(0, 0, 0, 0.13), 162px 0px 0px rgb(92, 38, 7),
    157px 0px 0px rgba(0, 0, 0, 0.13), 202px 0px 0px rgb(92, 38, 7),
    197px 0px 0px rgba(0, 0, 0, 0.13);
}

.player {
  grid-area: player;
  width: 100%;
}

.computer {
  grid-area: computer;
}

.divCards {
  margin-left: 37.5px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.table__score {
  display: grid;
  grid-row: 2;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 80%;
  border: 2px solid rgb(250, 205, 92);
}

.score__player {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgb(250, 205, 92);
}

.score--title {
  width: 100%;
  height: 100%;
  background-color: rgb(250, 205, 92);
  text-align: center;
}

.score {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.buttons {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  border-right: 2px solid rgb(250, 205, 92);
}

.item_card {
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

.table__win {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.table__win--title {
  width: 100%;
  height: 100%;
  background-color: rgb(250, 205, 92);
  text-align: center;
}
.winner {
  text-align: center;
  color: white;
  font-size: 0.9rem;
}

.btn {
  width: 60%;
  height: 100%;
  background-color: transparent;
  border: none;
}

.btn__image {
  width: 40px;
  cursor: pointer;
}

.btn-disabled{
  cursor: context-menu;
}

#computer-cards,
#player-cards {
  height: 240px;
}
